{% extends 'emails/base.html' %}
{% block content %}

    [HEADER IMAGE]

Hey, {{ user_name }},

Thank you for donating {{ donation_amount }} to {{ donation_recipient }} and for supporting your local Boulder community.

Don’t stop now! Consider donating to the other businesses in our pilot, and definitely spread the word about our program so we can make the most impact to our local community. Remember, our matching mechanism is most powerful when more people donate, even if they only donate $1!

[LINK TO SHARING STUFF]
Your continued support is making all the difference -- can’t wait to “see” you around downtown!

Downtown Stimulus team


{% endblock %}