.modal {
  display: block;
  min-width: 400px;
  max-width: 100%;
  // min-height: 400px;
  max-height: 80%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: auto;
  background: var(--whiteColor);
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgb(28, 28, 28);
  will-change: opacity;
  opacity: 0.55;
  transition: opacity 0.25s ease 0s;
}
.modal-guts {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--blackColor);
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  padding: 5px;
  font-size: 1.3rem;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  background-color: var(--whiteColor);
  color: var(--blackColor);

  &:hover {
    background: var(--grey1Color);
  }
}

$information-phone: "only screen and (max-width : 464px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 464px)";
@media #{$information-phone} {
  .modal {
    min-width: 100% !important;
  }
}

@media #{$information-pad} {
  .modal {
    min-width: 400px !important;
  }
}
