.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid var(--grey1Color);
}

.FormRow:first-child {
  border-top: none;
}
