.business-item {
  background: #ffffff;
  border: 0.857157px solid #d2d2d2;
  box-sizing: border-box;
  border-radius: 4px;
  list-style-type: none;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .business-item-cover-image-container {
    display: flex;
    flex-direction: column;
    min-height: 236px;
    .business-item-header-container {
      position: relative;
      .business-item-cover-bottom-border {
        height: 4.67px;
        width: 100%;
        background: var(--backgroundGradient);
        margin-top: -4px;
        margin-left: 0px;
      }
      .business-item-cover-image {
        width: 100%;
        height: 128px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .business-item-logo-image-container {
        width: 42%;
        margin: 0px auto;
        padding: 11px;
        background: var(--whiteColor);
        border-radius: 12px;
        transform: translate(50%, 50%);
        position: absolute;
        bottom: 0;

        .business-item-logo-image {
          width: 100%;
          border-radius: 2px;
        }
      }
    }
  }

  .business-item-name {
    margin: 0;
    text-align: center;
    margin-top: -1em;
    font-size: var(--header3Size);
    font-family: var(--header3Font);
    font-weight: normal;
    color: var(--header3Color);
  }

  .business-item-description {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    color: var(--blackColor);
    line-height: 1.4em;
    font-family: var(--paragraphFont);
    flex: 1;
  }

  .business-donation-widget-donation-details {
    text-align: center;
    font-size: 14px;

    .business-donation-widget-donation-details-amount {
      color: var(--primaryColor);
      font-size: 16px;
    }
  }

  .business-item-progress-container {
    width: 100%;
    height: 10px;
    background: #d8d8d8;
    border-radius: 13.2853px;
    .business-item-progress {
      background: linear-gradient(90deg, #fdb933 0%, #e66026 100%);
      border-radius: 13.2853px;
      height: 10px;
      width: 10%;
    }
  }

  .business-item-progress-labels-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #3a3a3a;
    opacity: 0.6;
  }

  .business-item-button-container {
    display: flex;
    margin-top: 1.5em;
    .business-item-button {
      width: 100%;
      border: 0.857157px solid var(--primaryColor);
      box-sizing: border-box;
      border-radius: 10px;
      height: 46.45px;
      color: var(--primaryColor);
      font-weight: bold;
      font-size: 17.2852px;
      line-height: 20px;
      background: var(--whiteColor);
      outline: none;
      cursor: pointer;

      &:hover {
        border: 0.857157px solid #e66026;
        color: #e66026;
      }
    }
  }
}

$information-phone: "only screen and (max-width : 464px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 464px)";
@media #{$information-phone} {
  .business-item {
    margin: 1.5em;

    .business-donation-widget-donation-details {
      font-size: 12px !important;

      .business-donation-widget-donation-details-amount {
        font-size: 14px !important;
      }
    }
  }
}
